.navbar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  }
  