.vitals {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 12px;

  }
  
  .vital {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  .vital h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .vital h6 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .vital p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  @media (max-width: 768px) {
    .vitals {
      flex-direction: column;
      gap: 10px;
    }
  
    .vital {
      padding: 10px;
    }
  }
  